*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.mulish-font {
    font-family: "Mulish", sans-serif;
   
  }
  span{
    color: rgb(255, 84, 0);
  }
 
  .menuli{
    list-style: none;
  }
  .links{
    text-decoration: none;
    color: rgb(66, 66, 71);
font-family: Mulish;
font-size: 1.125rem;
font-weight: 400;
/* line-height: 23px;
letter-spacing: 0%; */
text-align: center;
  }
  .logoAndName{
    display: flex;
    gap:5px;
    align-items: center;
  }

  .nav-links{
    display: flex;
    gap: 44px;
  }
  .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
   

  }
  .container{
    max-width: 90%;
    margin: 2rem auto;
  }
  .hero-travel, #icon{
    font-size: 2.25rem;
    font-weight: 800;
  }
  .logoAndName img{
    width: 35.04px;
height: 46.8px;
  }
  .menubar{
    display: none;
  }
  /* Shared Styles */
  .btn-primary{
    border-radius: 8px;

background: rgb(255, 84, 0);
color: rgb(255, 255, 255);
border: none;
  }

  /* Explore your travel */
  .explore-your-travel{
    /* position: relative; */
    height: 500px;
    /* border: 2px solid red; */
   
    width: 90%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;

    border-radius: 16px;

    background: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8),rgba(19, 19, 24, 0) 100%),url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    backdrop-filter: blur(4px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }
  .where-container{
    /* position: absolute; */
    width: auto;
    height: auto;
    margin-top: 43px;
    border-radius: 8px;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:10px;
    background: rgba(255, 255, 255, 0.3);
    /* border: 2px solid red; */
 
  }
  .explore-title{
    font-size: 4rem;
    font-weight: 800; 
    margin-bottom: 24px; 
    color: rgb(255, 255, 255); 
  }
  .explore-description{
    font-size: 1rem;
    font-weight: 400; 
    text-align: center;
  
    color: rgb(255, 255, 255);
  }

  .where-container > input, select, button{
    width: 174px;
height: 52px; 
text-align: center;
  }

  .popular-tours-container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    /* border: 2px solid red; */
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 100px;
  }
  
  .popular-left, .popular-right {
    /* border: 2px solid red; */
  }
  .popular-left ul {
    padding-left: 20px; /* Adjust to ensure bullets are within the border */
    margin: 0; /* Reset default margin */
  }
  
  .popular-left li {
    margin: 0 0 16px 0; /* Adjust to add space between list items */
  }
  .popular-title{
    font-weight: 800;
   font-size:2.5rem;
   color: rgb(19, 19, 24);
   
  }
  .common-description{
    margin-top: 24px;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 24px;
  }
  .popular-right img{
    width: 100%;
    height: 450px;
  }

 
 /* For mobile device */
 @media screen and (max-width: 576px) {
    
    .menu{
        display: none;
    }
    .menubar{
        display: block;
        /* background-color: red; */
    }
    .explore-title{
        font-size: 28px;
    }
    .where-container,.popular-tours-container{
        grid-template-columns: 1fr;
    }
   
 }
 @media screen and (min-width:577px) and (max-width: 992px)
 {
    
 }